<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>


  <!-- NAVBAR LIST (FULL WIDTH)-->

  <nav class="navbar navbar-expand-lg navbar-light">

    <!-- NAVBAR TITLE -->
    <a class="navbar-brand">Scent Angels</a>

    <ul class="nav nav-pills nav-fill justify-content-end">

      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find_your_scent">Find Your Fragance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/perfume_info">Perfume Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/visualizations">Visualizations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">The Coding Angels</a>
      </li>
    </ul>
  </nav>
  <!-- NAVBAR END -->

  <div class="container" >
    <div class="row">
      <div class="col"  style="border:5px solid rgb(107, 120, 238)">
        <h2>Deepa</h2>
        <p> <img src="static/images/Deepa.jpg" width="200px" HSPACE=”10px”
          ><h3>Deepa's 2 year old cat Simba, rescued by First responders and police from the engine block of a Prius. He came home on a temporary basis and never left!</h3> 
      </p>
      </div>
      <div class="col" style="border:5px solid rgb(0, 128, 111)">
        <h2>Kasey</h2>
        <p> <img src="static/images/Kasey.jpg" width="200px" HSPACE=”10px”
          > <h3>Alisa the cat: a Kurilian Bobtail from Ukraine. Sweet, affectionate, and always wants to be your pal!</h3>
      </p>
      </div>
      <div class="col" style="border:5px solid rgb(0, 128, 111)">
        <h2>Jen</h2>
        <p> <img src="static/images/Jen.jpg" width="200px" HSPACE=”10px” 
          > <img src="static/images/Jen 2.jpg" width="200px" HSPACE=”10px”
          ><h3>This is Jen's cat, a 7 year old rescue “Fennec” #noshame - he is a chubby one eyed pirate.</h3>
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="border:5px solid rgb(0, 128, 111)">
        <h2>Jessi</h2>
        <p> <img src="static/images/tweety.jpg" width="200px" HSPACE=”10px”
          > <h3>Jessi adopted Tweety 4 months ago from her sister, who was fostering her and kept insisting she had to take her. It was the best decision she ever made!</h3>
      </p>
      </div>
      <div class="col" style="border:5px solid rgb(0, 128, 111)">
        <h2>Chloe</h2>
        <p> <img src="static/images/Chloe.jpg" width="200px" HSPACE=”10px”
          > <h3>Brooklyn was rescued from Puerto Rico right before hurricane Maria in 2016 and brought to NY. Easiest/best decision to rescue him!</h3>
      </p>
      </div>
      <div class="col" style="border:5px solid rgb(0, 128, 111)">
        <h2>Ozzie</h2>
        <p> <img src="static/images/Ozzie.jpg" width="200px" HSPACE=”10px”
          > <h3>Jackson. Just a contemporary dog, doing contemporary things.</h3>
      </p>
      </div>
    </div>
    <div id="footer">
      
      <p>Rescue Angels&copy;2021</p>
    </div>
  </div>





  <!-- Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

</body>

</html>