body{
  background-color: #f6f0ed;
}

/* --------- Nav Bar ---------- */

.navbar {
  /* background-color:rgb(207, 207, 245); */
  background-color:#545454 !important;
  /* overflow: hidden; */
  margin:0;
  padding:0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2faf2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 25px;
  /* font-style: oblique; */
  /* font-weight: 400; */
  /* font-variant: small-caps; */
  font-family: Ubuntu, sans-serif;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* --------- Nav Bar ---------- */


/* --------- Main page ---------- */
#main-page{
  position: center;
  margin:20px;
  padding:0;
}
#main-img{
  width: 100%;
  height: auto;
}
/* --------- Main page ---------- */

/* --------- Create your Fragrance page ---------- */
.sunburstBox {
  padding-top: 13px;
}

.breeds-row {
  text-align: center;
  padding: 10px;
}

#breedTable td {
  text-align: left;
  padding: 5px;
}

#breedTable tr td:first-child{
  min-width: 40%;
}

.tdHeader {
  font-weight: bold;
}
.breedName {
  font-size: x-large;
  margin: 0;
}
#breedScales {
  display: flex;
  justify-content: left;
}
.scalesBar {
  fill: orange;
  border-radius: 25px;
}

#breedLegend td{
  padding-left: 40px;
  text-align: left;
}
.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  text-align: center;
  color: white;
  background: #50C878;
  border: 0;
  border-radius: 10px;
 
}
/* --------- Breeds page ---------- */

/* --------- Find a Pet page ---------- */
#map,
body,
html {
  height: 100%;
}

.find-a-pet-row {
  padding-left: 20px;
  padding-bottom: 10px;
}
/* --------- Find a Pet page ---------- */

/* --------- Organizations page ---------- */
html,
body,
#hexbin-map {
  height: 100%;
  padding: 0;
  margin: 0;
}
.info { 
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif; 
  background: white; 
  background: rgba(255,255,255,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px; 
} 
.info h4 { 
  margin: 0 0 5px; 
  color: #777; 
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/* --------- Organizations page ---------- */

/* --------- About page ---------- */
.about-box {
  border: 0px 5px 0px 5px;  
  border-style: solid;
  border-color: #545454;
  
}

/* --------- About page ---------- */
